#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 170px;
    height: 210px;
    outline: 2px dashed #5d5d5d;
    border-radius: 5px;
    color: #1f3c44;
    font-size: 10px;
}
#upload-container .wrap_file_input{
padding: 10px;
}
#upload-container .upload-image-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-container img.no-photo {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container input[type=file] {
    width: 180px;
    height: 210px;
    top: 0;
    left: 10px;
    opacity: 0;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

label[for="file-input"],
.sp-block{
    margin-bottom: 0;
    display: block;
    text-align: center;
}
.upload-image-wrap{
    width: 160px;
    height: 160px;
}
.upload-image-wrap img.load-photo {
    object-fit: cover;
    width: 100%!important;
    height: 100%!important;
    margin-bottom: 0!important;
    padding: 5px!important;
    border-radius: 10px;
}

